aside#application-menu(ng-controller="RoomNameCtrl")
    header(data-title='Menu')
    article.active.list
      ul(ng-repeat="room in roomsData.data")
        li        
          a(href='/{{room.name | lowercase }}')
            strong {{room.name}}