section#main(data-transition='slide')
    header(data-title='My Application', ng-controller="NavigationCtrl")
      nav.left
        a(href='#application-menu', data-router='aside', data-icon='menu')
      nav.right
        a(href='/forms') Forms
    article#main-application.active.list.indented.scroll
      li.highlight
        a.button.anchor.theme(href='/forms')
          | Travel to Section Template