//
   Lungo - Dependencies 
script(src='components/quojs/quo.js')
script(src='components/lungo/lungo.debug.js')
//
   Angular - Dependencies
script(src='components/angular/angular.js')
script(src='http://code.angularjs.org/angular-resource-1.0.0rc4.min.js')
// 
   Angular Controllers and Bootstrap
script(src='scripts/app.js')
script(src='scripts/controllers/main.js')